<a href="https://colab.research.google.com/github/TAVAU/DS-Unit-1-Sprint-2-Statistics/blob/master/Copy_of_DS_Unit_1_Sprint_Challenge_2_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 is a variable that indicates whether or not a person's request for credit has been approved or denied. This is a good candidate for a y variable since we might want to use the other features to predict this one. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [ ]:
# TODO
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

Saving crx.data to crx.data

In [ ]:
column_headers = ['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','A16']
df = pd.read_csv('crx.data', names = column_headers)
print(df.shape)
df.head()

(690, 16)

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [ ]:
df.replace(to_replace='?', value=np.nan, inplace=True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

(653, 16)

In [ ]:
df.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [ ]:
df = df.astype({'A2': 'float64', 'A11': 'float64', 'A14': 'float64','A15': 'float64'})

In [ ]:
df.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15    float64
A16     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [ ]:
# TODO
# A16 is a variable that indicates whether or not a person's request for credit 
# has been approved or denied.
class_label = pd.crosstab(index = df['A16'], columns='class_label')
print(class_label)

col_0  class_label
A16
+              296
-              357

In [ ]:
from scipy import stats

ap_condition=(df['A16']=='+')
df_approve = df[ap_condition]
dc_condition=(df['A16']=='-')
df_decline = df[dc_condition]

approve_sample = df_approve.sample(n=100, random_state=30)
decline_sample = df_decline.sample(n=100, random_state=30)

In [ ]:
stats.ttest_ind(approve_sample['A3'].values, decline_sample['A3'].values)

Ttest_indResult(statistic=4.039273091580919, pvalue=7.665698484671277e-05)

In [ ]:
stats.ttest_ind(approve_sample['A14'].values, decline_sample['A14'].values)

Ttest_indResult(statistic=-1.132491362334326, pvalue=0.2587974800727419)

In [ ]:

from scipy.stats import chi2_contingency



joint_A9 = pd.crosstab(df['A16'], df['A9'])
print(joint_A9)
g, p, dof, exptd = chi2_contingency(pd.crosstab(df['A16'], df['A9']))

print(p)
print('\n')



joint_A12 = pd.crosstab(df['A16'], df['A12'])
print(joint_A12)
g, p, dof, exptd = chi2_contingency(pd.crosstab(df['A16'], df['A12']))

print(p)

A9     f    t
A16
+     18  278
-    286   71
7.391616628555818e-79


A12    f    t
A16
+    151  145
-    200  157
0.23047335495661603

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

**Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?**

 (A3)Null Hypothesis: the A3-feature between two classes are the same

Alternative Hypothesis: the A3-feature between two classes are not the same

Based on p-value is <.05, I reject the null hypothesis.

(A14)Null Hypothesis: the A14-feature between two classes are the same

Alternative Hypothesis: the A14-feature between two classes are not the same

Based on p-value is >.05, I fail to reject the null hypothesis.


**Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?**

(A9/A16)

Null Hypothesis: there's no relationship between A9 and A16

Alternative Hypothesis:there's relationship between A9 and A16

Base on p-value is 7.391616628555818e-79. This an extremely small p-value. We reject the null hypothesis at the .05 significance level and reject the null hypothesis that there's no relationship between A9 and A16

(A12/A16)

Null Hypothesis: there's no relationship between A12 and A16

Alternative Hypothesis:there's relationship between A12 and A16

Base on p-value is 0.23 > .05 We fail to reject the null hypothesis at the .05 significance level and reject the null hypothesis that there's no relationship between A12 and A16


The p-value is 3.8 x 10^-58. This an extremely small p-value. We reject the null hypothesis at the .05 significance level and reject the null hypothesis that there is no association between sex and survival.

**What was the most challenging part of this sprint challenge?**

Understand what the questions mean.

## Part 4 - Bayesian vs Frequentist Statistics

Using a minimum of 2-3 sentences, give an explanation of Bayesian and Frequentist statistics, and then compare and contrast these two approaches to statistical inference.

Frequentists statistics does not have prior information. 
Bayesians statistics has a prior information.

Bayes theorem is what allows us to go from a sampling (or likelihood) distribution and a prior distribution to a posterior distribution.

# Stretch Goals: 
Do these to get a 3. These are not required in order to pass the Sprint Challenge.

## Part 1: 

Make sure that all of your dataframe columns have the appropriate data types. *Hint:* If a column has the datatype of "object" even though it's made up of float or integer values, you can coerce it to act as a numeric column by using the `pd.to_numeric()` function. In order to get a 3 on this section make sure that your data exploration is particularly well commented, easy to follow, and thorough.

## Part 2:

Write functions that can calculate t-tests and chi^2 tests on all of the appropriate column combinations from the dataset. (Remember that certain tests require certain variable types.)

## Part 3: 

Calculate and report confidence intervals on your most important mean estimates (choose at least two). Make some kind of a graphic or visualization to help us see visually how precise these estimates are.

## Part 4:

Give an extra awesome explanation of Bayesian vs Frequentist Statistics. Maybe use code or visualizations, or any other means necessary to show an above average grasp of these high level concepts.

In [ ]:
# You can work the stretch goals down here or back up in their regular sections
# just make sure that they are labeled so that we can easily differentiate
# your main work from the stretch goals.