<a href="https://colab.research.google.com/github/TAVAU/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [1]:
### YOUR WORK HERE
import pandas as pd
import numpy as np
from google.colab import files

automobile = files.upload()

Saving imports-85.data to imports-85.data

In [5]:
column_headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 
                  'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 
                  'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 
                  'city-mpg', 'highway-mpg','price']

df = pd.read_csv('imports-85.data', names = column_headers)

df.head()
df.replace(to_replace = '?', value = np.nan)

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3               NaN  alfa-romero  ...       21          27  13495
1            3               NaN  alfa-romero  ...       21          27  16500
2            1               NaN  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [6]:
### YOUR WORK HERE
rows = df.sample(n=10, random_state=30)
rows
df['highway-mpg']
pop_mean = df['highway-mpg'].mean()
pop_mean
rows['highway-mpg'].mean()
from scipy import stats
stats.ttest_1samp(a=rows['highway-mpg'], popmean=pop_mean)

Ttest_1sampResult(statistic=0.8912422391619923, pvalue=0.39600040771093326)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [7]:
### YOUR WORK HERE
rows['highway-mpg'].mean()
# so the salesman's statement is not right

32.8

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [8]:
### YOUR WORK HERE
cars = df.sample(n=100,random_state=30)
print(cars.shape)
cars['highway-mpg'].mean()
stats.ttest_1samp(a=cars['highway-mpg'], popmean=pop_mean)
# p-value is >0.05, same conclusion

(100, 26)

Ttest_1sampResult(statistic=-0.16628144196110028, pvalue=0.8682745977159305)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

In [ ]:
# I reach the same conclusion.....

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [9]:
### YOUR WORK HERE
from google.colab import files
house_vote = files.upload()

Saving house-votes-84.data to house-votes-84.data

In [10]:
column_headers = ['Class Name', 'handicapped-infants', 'water-project-cost-sharing', 'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid', 'religious-groups-in-schools', 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 'mx-missile', 'immigration', 'synfuels-corporation-cutback', 
                  'education-spending', 'superfund-right-to-sue', 'crime', 'duty-free-exports', 'export-administration-act-south-africa']

df = pd.read_csv('house-votes-84.data', names = column_headers)

df.head()
print(df.shape)
df.replace(to_replace='?', value=np.nan, inplace=True)
df.replace(to_replace = 'y', value = 1, inplace=True)
df.replace(to_replace = 'n', value = 0, inplace=True)

(435, 17)

In [11]:
condition = (df['Class Name'] == 'republican')

republican = df[condition]
republican
condition2 = (df['Class Name'] == 'democrat')

democrat = df[condition2]
democrat

    Class Name  ...  export-administration-act-south-africa
2     democrat  ...                                     0.0
3     democrat  ...                                     1.0
4     democrat  ...                                     1.0
5     democrat  ...                                     1.0
6     democrat  ...                                     1.0
..         ...  ...                                     ...
425   democrat  ...                                     NaN
426   democrat  ...                                     1.0
428   democrat  ...                                     1.0
429   democrat  ...                                     1.0
431   democrat  ...                                     1.0

[267 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [12]:
### YOUR WORK HERE
# null hypothesis : democrats support more than republicans on handicapped-infants 
# alternative hypothesis : democrats support not more than republicans on handicapped-infants 

rep_df = republican.dropna(subset=['handicapped-infants'])
rep_df
dem_df = democrat.dropna(subset=['handicapped-infants'])
dem_df
rep_sample = rep_df.sample(n=100, random_state=30)
dem_sample = dem_df.sample(n=100, random_state=30)
print(rep_sample['handicapped-infants'].value_counts())
print(dem_sample['handicapped-infants'].value_counts())
stats.ttest_ind(rep_sample['handicapped-infants'].values, dem_sample['handicapped-infants'].values)

0.0    82
1.0    18
Name: handicapped-infants, dtype: int64
1.0    60
0.0    40
Name: handicapped-infants, dtype: int64

Ttest_indResult(statistic=-6.712356333969432, pvalue=1.972142067364053e-10)

In [13]:
rep_immigration = republican.dropna(subset=['immigration'])
rep_immigrationn_sample = rep_immigration.sample(n=100, random_state=30)

dem_immigration = democrat.dropna(subset=['immigration'])
dem_immigration_sample = dem_immigration.sample(n=100, random_state=30)

stats.ttest_ind(dem_immigration_sample['immigration'].values, rep_immigrationn_sample['immigration'].values)

Ttest_indResult(statistic=-0.9914528346846629, pvalue=0.3226745748352279)

In [15]:
rep_budget = republican.dropna(subset=['adoption-of-the-budget-resolution'])
rep_budget_sample = rep_budget.sample(n=100, random_state=30)

dem_budget = democrat.dropna(subset=['adoption-of-the-budget-resolution'])
dem_budget_sample = dem_budget.sample(n=100, random_state=30)
print(dem_budget_sample['adoption-of-the-budget-resolution'].value_counts())
print(rep_budget_sample['adoption-of-the-budget-resolution'].value_counts())
# democrats support more than republicans with p < 0.01 (significant at the 99% level).
stats.ttest_ind(dem_budget_sample['adoption-of-the-budget-resolution'].values, rep_budget_sample['adoption-of-the-budget-resolution'].values)

1.0    85
0.0    15
Name: adoption-of-the-budget-resolution, dtype: int64
0.0    88
1.0    12
Name: adoption-of-the-budget-resolution, dtype: int64

Ttest_indResult(statistic=15.044207700247473, pvalue=1.303253416325546e-34)

In [16]:
rep_crime = republican.dropna(subset=['crime'])
rep_crime_sample = rep_crime.sample(n=100, random_state=30)

dem_crime = democrat.dropna(subset=['crime'])
dem_crime_sample = dem_crime.sample(n=100, random_state=30)
print(dem_crime_sample['crime'].value_counts())
print(rep_crime_sample['crime'].value_counts())
#  republicans support more than democrats with p < 0.01 (significant at the 99% level).
stats.ttest_ind(dem_crime_sample['crime'].values, rep_crime_sample['crime'].values)

0.0    70
1.0    30
Name: crime, dtype: int64
1.0    98
0.0     2
Name: crime, dtype: int64

Ttest_indResult(statistic=-14.120190896045512, pvalue=8.895548834625861e-32)

In [17]:
rep_d = republican.dropna(subset=['water-project-cost-sharing'])
rep_d_sample = rep_d.sample(n=100, random_state=30)

dem_d = democrat.dropna(subset=['water-project-cost-sharing'])
dem_d_sample = dem_d.sample(n=100, random_state=30)
# the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)
print(stats.ttest_ind(dem_d_sample['water-project-cost-sharing'].values, rep_d_sample['water-project-cost-sharing'].values))
print(dem_d_sample['water-project-cost-sharing'].value_counts())
print(rep_d_sample['water-project-cost-sharing'].value_counts())

Ttest_indResult(statistic=-0.28170679337720966, pvalue=0.7784625517006782)
1.0    51
0.0    49
Name: water-project-cost-sharing, dtype: int64
1.0    53
0.0    47
Name: water-project-cost-sharing, dtype: int64

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE